.row{
    margin-top: 5vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button{
    min-width: 100px;
    margin-top: 4vh;
    margin-left: 4vw;
    margin-right: 4vw;
}