<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onCreate(f)" #f="ngForm">
                <div class="form-group">
                    <label for="name">Product Name: </label>
                    <input type="text" id="name" name="name" ngModel class="form-control">
                </div>
                <div class="form-group">
                    <label for="description">Product Description: </label>
                    <input type="description" id="description" name="description" ngModel class="form-control">
                </div>
                <div class="form-group">
                    <label for="imgUrl">Image Url: </label>
                    <input type="imgUrl" id="imgUrl" name="imgUrl" ngModel class="form-control">
                </div>
                <div class="buttons">
                    <button class="btn btn-success" type="submit">Save</button>
                    <button (click)="resetForm(f)" type="button" class="btn btn-danger" >Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>