.container{
    margin-top: 5vh;
}

.row:first-child{
    height: 482px;
    margin-bottom: 5vh;
}

.card-img-top{
    height: 300px
}

.btn{
    width: 40%;
}

.btn-outline-primary{
    width: 100%;
}

.btn-outline-secondary{
    width: 100%;
}

p.card-text{
    max-height: 72px;
    overflow: hidden;
}

.adminButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}