.container{
    margin-top: 5vh;
}

.row:first-child{
    height: 482px;
    margin-bottom: 5vh;
}

.card-img-top{
    height: 300px
}

.btn{
    width: 50%;
}

.btn-outline-primary{
    width: 100%;
}
